{% extends "loggedBase.html" %}

{% block content %}
	<form action="/setting/password/save" method="post" data-ajax="false">
		<div data-role="fieldcontain" class="ui-hide-label">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" value="" placeholder="password"/>
		</div>
		<div data-role="fieldcontain" class="ui-hide-label">
			<label for="password_rpt">Ripeti password:</label>
			<input type="password" name="password_rpt" id="password_rpt" value="" placeholder="password"/>
		</div>
		<div data-role="fieldcontain">
			<input type="submit" value="Invia">
		</div>
	</form>
{% endblock %}