{% extends "loggedBase.html" %}

{% block content %}
	<div class="ui-field-contain">
		{% if events|length > 0 %}
			{% for event in events %}
				<div data-role="collapsible-set">
					<div data-role="collapsible" data-collapsed="true">
						<h4>{{ event.eventDate|date("d M Y") }} - {{ event.name }}</h4>
						<p>
						Punto di incontro <a href='https://www.google.it/maps/place/{{ event.place.latitude }},{{ event.place.longitude }}'>
						{{ event.meetingPointName }}</a><br />
						<p>{{ event.description }}</p>
						<p><a href='/driver/detail/{{ event.id }}'>Vai al pannello per organizzare questo viaggio!</a></p>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h3 is="gk-text">Sembra che tu non sia iscritto a nessun evento come Autista.<br />
				Consulta la lista degli eventi disponibili <a href="/">cliccando qui!</a></h3>
		{% endif %}
	</div>
{% endblock %}