<div id="contextMenu" data-role="popup" data-overlay-theme="b" data-theme="c" data-history="false" data-arrow="true">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Azioni disponibili</li>
        <li>
            <a href="javascript:void(0);" url="" id="openButton" messageId=""
                class="ui-icon-mess-open">Apri</a>
       </li>
       <li>
           <a href="javascript:void(0);" url="" rel="external" id="deleteButton" messageId="" class="ui-icon-mess-delete">Cancella</a>
       </li>
    </ul>
</div>
